{% extends "base.html" %}
{% load static %}


{% block page_title %}
  Panduan Perjalanan | Wisata Nusantara
{% endblock %}
{% block meta %} 
<!-- CSS CUSTOM -->
<link rel="stylesheet" type="text/css" href="{% static 'panduan_perjalanan/css/style.css' %}" />
{% endblock meta %}

{% block content %}
<div>
  <section class="hero-section">
    <div class="hero-container">
        <h1 id="primary-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit</h1>
        <br>
        <p id="subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit illum dignissimos distinctio similique temporibus veniam fuga neque incidunt?</p>
        <br>
        <button class="btn btn-hero">Pandu Wisata &DownArrow;</button>
    </div>
  </section>

  <main class="section-container page-description">
    <div class="box-container">
      <h2>Hello Worlds</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>

    <div class="box-container grid grid-2cols grid--center-v">
      <!-- panduan 01 -->
      <div class="panduan-text-box">
        <p class="panduan-number">01</p>
        <h3 class=" ">
          Ramalan cuaca terkini
        </h3>
        <p class="panduan-description">
          Ramalan cuaca di dua kota, kota keberangkatan dan kota destinasi.
          Dengan begitu, anda dapat mengetahui kondisi tujuan wisata serta
          berangkat di saat cuaca yang baik!
        </p>
      </div>

      <div class="panduan-img-box">
        <img
          src="{% static 'panduan_perjalanan/img/weather-forecast.jpg' %}"
          class="panduan-img"
          alt="weather-forecast"
        />
      </div>

      <!-- panduan 02 -->
      <div class="panduan-img-box">
        <img
          src="{% static 'panduan_perjalanan/img/bag.jpg' %}"
          class="panduan-img"
          alt="travel-bag"
        />
      </div>
      <div class="panduan-text-box">
        <p class="panduan-number">02</p>
        <h3 class="heading-tertiary">Rekomendasi perlengkapan sesuai kondisi cuaca</h3>
        <p class="panduan-description">
          Setelah mengetahui kondisi cuaca di kedua kota. Kami rekomendasikan
          perlengkapan yang dapat dibawa agar perjalanan wisata anda tetap nyaman!
        </p>
      </div>

      <!-- panduan 03 -->
      <div class="panduan-text-box">
        <p class="panduan-number">03</p>
        <h3 class="heading-tertiary">Ketahui lokasi tujuan anda!</h3>
        <p class="panduan-description">
          Wisata akan menjadi perjalanan yang panjang! Jadi, persiapkan
          diri dengan melihat gambaran jarak kota asalmu dan destinasi wisata.
        </p>
      </div>
      <div class="panduan-img-box">
        <img
          src="{% static 'panduan_perjalanan/img/maping.jpg' %}"
          class="panduan-img"
          alt="peta indonesia"
        />
      </div>
    </div>

    <!-- <div class="card">
      <form id="form-panduan" onsubmit="return false;">
        {% csrf_token %}
        <div class="kota-asal">
          <label>Kota Asal</label>
          <input class="input-panduan" type="text" name="kota_asal" placeholder="Kota Asal" required />
        </div>
        <div class="kota-destinasi">
          <label>Kota Destinasi</label>
          <input class="input-panduan" type="text" name="kota_destinasi" placeholder="Kota Destinasi" required />
        </div>
        <input type="submit" class="btn btn-submit">
      </form> -->
    </div>
  </main>

  <section class="section-panduan">
    <div class="container">
      <div class="grid grid-2cols-2rows daftar-panduan">
        <!-- isi panduan -->
      </div>
      
    </div>
  </section>
</div>

<script src="{% static 'panduan_perjalanan/js/script.js' %}"></script>
{% endblock content %}