{% extends 'base.html' %}
{% block page_title %}
  Add Event & Activity | Wisata Nusantara
{% endblock %}

{% load static %}
<script src="{% static 'daftar_event/script.js' %}" type="text/javascript"></script>

{% block content %}
<body>
<div class=" h-screen bg-blue-200">
    <p class="text-center text-4xl font-bold py-5">Add New Event or Activity</p>
    <div class="flex justify-center">
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="{{form.nama.id_for_label}}" class="font-semibold">Name</label></td>
                    <td>{{forms.nama}}</td>
                </tr>
                <tr>
                    <td><label for="{{form.lokasi.id_for_label}}" class="font-semibold">Location</label></td>
                    <td>{{forms.lokasi}}</td>
                </tr>
                <tr>
                    <td><label for="{{form.jenis.id_for_label}}" class="font-semibold">Category</label></td>
                    <td>{{forms.jenis}}</td>
                </tr>
                <tr>
                    <td><label for="{{form.deskripsi.id_for_label}}" class="font-semibold">Description</label></td>
                    <td>{{forms.deskripsi}}</td>
                </tr>
                
            </table>
            <div class="flex justify-center">
                <input id="submit-btn" type="submit" class="bg-gray-900 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full" value="Add New Event">
            </div>
        </form>
</div>
</body>
{% endblock %}
