:root {
  --text-color: #fff;
  --background-color: #333;
  --button-color: aqua;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 100vh;
  width: 100%;

  background: linear-gradient(
    rgba(34, 34, 34, 0.65),
    rgba(34, 34, 34, 0.65)
    ),
    url("/static/panduan_perjalanan/img/top-of-bali.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-container {
  margin: 8rem auto;
  padding: 2.5rem;
  color: var(--text-color);
  text-align: center;
}

#primary-text {
  font-size: 6vmin;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.05;
  margin-bottom: 2rem;
  letter-spacing: -0.5px;
}

#subtitle {
  padding: 0 3rem;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: aqua;
  color: rebeccapurple;

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  /* transition: all 0.3s; */
}

.section-container {
  padding: 9.6rem 0;
}

.box-container {
  /* 1140px */
  max-width: 71.25rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.card {
  padding: 1.2rem;
  background-color: azure;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 26.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

#form-panduan {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.8rem;
}

#form-panduan label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

#form-panduan .input-panduan {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eee;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.section-panduan {
  padding: 8rem 0;
}

.grid {
  display: grid;
  column-gap: 4rem;
  row-gap: 6rem;
  align-items: center;
}

.grid-2cols-2rows {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.grid-2cols {
  grid-template-columns: 1fr 1fr;
}

.daftar-rekomendasi {
  grid-column: 1/-1;
}

.panduan-number {
  font-size: 5.25rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 0.75rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.panduan-description {
  font-size: 1.125rem;
  line-height: 1.8;
}

.panduan-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panduan-img {
  width: 75%;
}