:root {
  --text-color: #fff;
  --main-color: #22C55E;
  --button-color: aqua;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 100vh;
  width: 100%;

  background: linear-gradient(
    rgba(34, 34, 34, 0.65),
    rgba(34, 34, 34, 0.65)
    ),
    url("/static/panduan_perjalanan/img/top-of-bali.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-container {
  margin: 8rem auto;
  padding: 2.5rem;
  color: var(--text-color);
  text-align: center;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  /* transition: all 0.3s; */
}

.section-container {
  padding: 6rem 0;
}

.box-container {
  /* 1140px */
  max-width: 71.25rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.section-panduan {
  padding: 8rem 0;
}

.grid {
  display: grid;
  column-gap: 4rem;
  row-gap: 6rem;
  align-items: center;
}

.grid-2-2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.grid-2cols {
  grid-template-columns: 1fr 1fr;
}

.daftar-rekomendasi {
  grid-column: 1/-1;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 2.75rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.heading-primary {
  color: #fff;
  font-size: 3.25rem;
  line-height: 1.05;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.subheading {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
}

.panduan-number {
  font-size: 5.25rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 0.75rem;
}

.panduan-description {
  font-size: 1.125rem;
  line-height: 1.8;
}

.panduan-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panduan-img {
  width: 75%;
}

.section-form {
  padding: 3rem 0 8rem;
}

.heading-form {
  font-size: 2.75rem;
  line-height: 1.2;
}

.form-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.form-box {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  /* background-color: #; */
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  /* background-image: linear-gradient(to right bottom, #eb984e, #e67e22); */
  background-color: var(--main-color);
  overflow: hidden;
}

.form-text-box {
  padding: 3rem 4rem 4rem 4rem;
  color: #0a3b1c;
}

.form-panduan {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}

.form-panduan label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.form-panduan input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-img-box {
  background: linear-gradient(
      to right bottom,
      rgba(145, 226, 175, 0.35),
      rgba(189, 238, 207, 0.35)
    ),
    url("/static/panduan_perjalanan/img/travel-map.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}