{% extends "base.html" %}

{% block page_title %}
  Add Destination | Wisata Nusantara
{% endblock %}

<!-- KOK BISA JALAN TANPA BLOCK META? -->
<script>
  $(document).ready(function(){
    // [POST] ADD DESTINASI 
    $('#tambah-destinasi').click(function () {
        event.preventDefault();
        const formTerisi = $('#nama').val() && $('#deskripsi').val() && $('#kategori').val() && $('#lokasi').val() && $('#maps_url').val() && $('#foto_thumbnail_url').val() && $('#foto_cover_url').val();
        if (formTerisi) {
            $.post(
                url = '/destination/add/',
                data = {
                    nama: $('#nama').val(),
                    deskripsi: $('#deskripsi').val(),
                    kategori: $('#kategori').val(),
                    lokasi: $('#lokasi').val(),
                    foto_thumbnail_url: $('#foto_thumbnail_url').val(),
                    foto_cover_url: $('#foto_cover_url').val(),
                    maps_url: $('#maps_url').val(),
                }, 
                function (res, status) {
                    if (status == 'success') {
                      console.log(res);
                    }
                },
            )
        }
    })
  })
</script>

{% block content %}
<div class="bg-gradient-to-r from-green-500 to-slate-500">
  <p class="text-center py-8 text-3xl font-bold">Add New Destination</p>
  <div class="flex justify-center">
    <form action="" method="POST" enctype="multipart/form-data" class="form-control">
      {% csrf_token %}

      {{ form.as_p }}

      <div>
        <div class="flex justify-center">
          <div class="bg-black text-white text-xl w-fit rounded-xl py-2 px-8 my-6">
            <button type="submit" id="tambah-destinasi">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="h-[200px]"></div>
</div>
{% endblock %}