{% extends "base.html" %}

{% block page_title %}
  Add Destination | Wisata Nusantara
{% endblock %}

<!-- KOK BISA JALAN TANPA BLOCK META? -->
<script>
  $(document).ready(function(){
    // [POST] ADD DESTINASI 
    $('#tambah-destinasi').click(function () {
        event.preventDefault();
        const formTerisi = $('#nama').val() && $('#deskripsi').val() && $('#kategori').val() && $('#lokasi').val() && $('#maps_url').val() && $('#foto_thumbnail_url').val() && $('#foto_cover_url').val();
        if (formTerisi) {
            $.post(
                url = '/destination/add/',
                data = {
                    nama: $('#nama').val(),
                    deskripsi: $('#deskripsi').val(),
                    kategori: $('#kategori').val(),
                    lokasi: $('#lokasi').val(),
                    foto_thumbnail_url: $('#foto_thumbnail_url').val(),
                    foto_cover_url: $('#foto_cover_url').val(),
                    maps_url: $('#maps_url').val(),
                }, 
                function (res, status) {
                    if (status == 'success') {
                      console.log(res);
                    }
                },
            )
        }
    })
  })
</script>

{% block content %}
<div class="bg-gradient-to-r from-green-500 to-slate-500">
  <p class="text-center py-8 text-3xl font-bold">Add New Destination</p>
  <div class="flex justify-center">
    <form action="" method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td><label class="font-semibold">Name</label></td>
          <td><input 
            type="text" 
            name="nama" 
            id="nama" 
            placeholder="Candi Prambanan" 
            class="py-2 px-4 rounded-xl mb-2" 
            size="18"
            maxlength="18"
            required/>
          </td>
        </tr>
        <tr>
          <td><label class="font-semibold">Description</label></td>
          <td><textarea 
            type="text" 
            name="deskripsi" 
            id="deskripsi" 
            placeholder="Tell Us About The Description of The Added Tours" 
            rows="5" 
            cols="33" 
            class="py-2 px-4 rounded-xl mb-2" 
            required></textarea>
          </td>
        </tr>
        <tr>
          <td><label class="font-semibold">Location</label></td>
          <td>
            <select 
              name="lokasi" 
              id="lokasi" 
              class="py-2 px-4 rounded-xl mb-2"
              required
              >
              <option>Aceh</option>
              <option>Bali</option>
              <option>Bangka Belitung</option>
              <option>Banten</option>
              <option>Bengkulu</option>
              <option>Gorontalo</option>
              <option>Jakarta</option>
              <option>Jambi</option>
              <option>Jawa Barat</option>
              <option>Jawa Tengah</option>
              <option>Jawa Timur</option>
              <option>Kalimantan Barat</option>
              <option>Kalimantan Selatan</option>
              <option>Kalimantan Tengah</option>
              <option>Kalimantan Timur</option>
              <option>Kalimantan Utara</option>
              <option>Kepulauan Riau</option>
              <option>Lampung</option>
              <option>Maluku</option>
              <option>Maluku Utara</option>
              <option>Nusa Tenggara Barat</option>
              <option>Nusa Tenggara Timur</option>
              <option>Papua</option>
              <option>Papua Barat</option>
              <option>Riau</option>
              <option>Sulawesi Barat</option>
              <option>Sulawesi Selatan</option>
              <option>Sulawesi Tengah</option>
              <option>Sulawesi Tenggara</option>
              <option>Sulawesi Utara</option>
              <option>Sumatera Barat</option>
              <option>Sumatera Selatan</option>
              <option>Sumatera Utara</option>
              <option>Yogyakarta</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label class="font-semibold">Category</label></td>
          <td>
            <select 
              name="kategori" 
              id="kategori" 
              class="py-2 px-4 rounded-xl mb-2" 
              required
            >
              <option>Art&Culture</option>
              <option>Beach&Sea</option>
              <option>Caves</option>
              <option>Culinary</option>
              <option>Temples</option>
              <option>Forest</option>
              <option>Hills</option>
              <option>Historic</option>
              <option>Mountains</option>
              <option>Nature</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label class="font-semibold">Thumbnail Photo URL&nbsp;&nbsp;&nbsp;</label></td>
          <td><input 
            type="text" 
            name="foto_thumbnail_url" 
            id="foto_thumbnail_url" 
            placeholder="Copy Address From Pinterest" 
            class="py-2 px-4 rounded-xl mb-2" 
            size="50"
            required/>
          </td>
        </tr>
        <tr>
          <td><label class="font-semibold">Cover Photo URL</label></td>
          <td><input 
            type="text" 
            name="foto_cover_url" 
            id="foto_cover_url" 
            placeholder="Copy Address From Pinterest" 
            class="py-2 px-4 rounded-xl mb-2" 
            size="50"
            required/>
          </td>
        </tr>
        <tr>
          <td><label class="font-semibold">Maps URL</label></td>
          <td><input 
            type="text" 
            name="maps_url" 
            id="maps_url" 
            placeholder="Copy Address From Google Maps" 
            class="py-2 px-4 rounded-xl mb-2" 
            size="50"
            required/>
          </td>
        </tr>
      </table>

      <div>
        <div class="flex justify-center">
          <div class="bg-black text-white text-xl w-fit rounded-xl py-2 px-8 my-6">
            <button type="submit" id="tambah-destinasi">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="h-[200px]"></div>
</div>
{% endblock %}