{% extends "base.html" %}
{% load static %}

{% block page_title %}
  Wishlist Destination | Wisata Nusantara
{% endblock %}

{% block meta %}
<script src="{% static 'js/wishlist.js' %}"></script>
{% endblock %}

{% block content %}
<!-- MOBILE -->
<div class="tablet:hidden bg-gradient-to-r from-green-500 to-slate-500">
  <div>
    <div class="p-4">
      <p id="hello-mobile"></p>
      <p class="font-bold text-xl py-2">This is where you want to go</p>
    </div>

    <div>
      <div id="daftar-destinasi-mobile" class="flex overflow-x-auto"></div>
      <div id="daftar-destinasi-not-found-mobile"></div>
    </div>

    <div id="modalMobile"></div>
    <div id="modalAddDestinationMobile"></div>

  </div>

  <div class="flex justify-between bg-black rounded-tr-3xl rounded-tl-3xl pt-6 pb-8 px-10 mt-3">
    <a href="">
      <i class="fa-solid fa-house" style="font-size:20px;color:white"></i>
    </a>
    <a href="">
      <i class="fa-solid fa-calendar-days" style="font-size:20px;color:white"></i>
    </a>
    <a>
      <i class="fa-solid fa-heart" style="font-size:20px;color:white"></i>
    </a>
    <a>
      <i class="fa-solid fa-plus" style="font-size:20px;color:white"></i>
    </a>
    <a>
      <i class="fa-solid fa-user" style="font-size:20px;color:white"></i>
    </a>
  </div>
</div>

<!-- TABLET & DESKTOP -->
<div class="mobile:hidden tablet:block bg-gradient-to-r from-green-500 to-slate-500">
  <div class="flex">

    <div class="bg-zinc-900 px-8 py-4 cursor-pointer w-[140px]" id="sidebar-destination">
      <a href="/destination/" class="text-slate-300 hover:text-bone">
        <div class="flex items-center py-1">
          <i class="fa fa-solid fa-arrow-left" style="font-size:14px;color:#CBD5E1;"></i>
          <p class="pl-2">Back</p>
        </div>
      </a>
    </div>

    <div class="w-5/6">
      <div class="pl-8 pt-6 pb-4">
        <p id="hello-tablet-desktop"></p>
        <p class="font-bold text-xl pb-3">This is where you want to go</p>
      </div>

      <div class="pl-4">
        <div id="daftar-destinasi-tablet-desktop" class="flex flex-wrap"></div>
        <div id="daftar-destinasi-not-found-tablet-desktop"></div>
      </div>

      <div id="modalTabletDesktop"></div>
      <div id="modalAddDestinationTabletDesktop"></div>

      <div class="h-[200px]"></div>
    </div>

  </div>
</div>
{% endblock %}