{% extends "base.html" %}

{% block page_title %}
Cerita Perjalanan
{% endblock %}

{% block content %}
<div class="pt-10 bg-gradient-to-r from-green-500 to-slate-500">
  <h1 class="text-center text-3xl font-bold mb-10">Give us a review!</h1>

  <div class="flex justfy-center flex-col items-center w-auto font-mono text-lg font-bold">
    <form class="w-2/5 p-10 rounded-lg shadow-lg"
      style="background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');"
      method="POST" action="{% url 'cerita_perjalanan:submit-cerita' %}">
      {% csrf_token %}
      <div class="form-group mb-6">
        {{ form.name }}
      </div>
      <div class="form-group mb-6">
        {{ form.review }}
      </div>
      <button type="submit" class="
  w-full
  p-4
  bg-green-600
  text-white
  font-xl
  text-xl
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-green-700 hover:shadow-lg
      focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-green-800 active:shadow-lg
      transition
      duration-150
      ease-in-out">Send</button>
    </form>
    <h1 class="mt-14 mb-5 flex justfy-center items-center text-3xl italic animate-bounce">Apa kata mereka?</h1>
  </div>
  <div class="container px-4 w-full py-4 sm:py-16 mx-auto px-0">
    <div class="mx-auto w-full md:w-4/5 px-4">
      <div class="container my-8">
        <div class="flex justify-between items-center mb-4">
          <div id="scrollContainer" class="flex flex-no-wrap overflow-x-scroll scrolling-touch items-start mb-8">
            {% for item in cerita %}
            <div class="mr-8 md:pb-4 border-8 rounded-3xl bg-white hover:scale-95 transition duration-150 ease-in-out">
              <a href="#" class="space-y-4">
                <div class="px-5 py-5 text-center">
                  <div class="text-lg leading-6 font-medium space-y-1">
                    <h3 class="font-bold text-gray-800 text-lg mb-2 pt-4 px-[100px]">
                      {{ item.name }}
                    </h3>
                  </div>
                  <div class="text-sm">
                    <p class="">
                     {{ item.review }}
                    </p>
                  </div>
                </div>
              </a>
              {% if username == item.name %}
              <a href="/story/delete/{{ item.pk }}">
                <div class="flex justify-center">
                  <button class="py-3 px-4 text-sm rounded-xl bg-bone hover:bg-rose hover:text-white hover:scale-110 transition duration-150 ease-in-out">Delete</button>
                </div>
              </a>
              {% endif %}
              <div class="h-10"></div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!---->
      </div>
    </div>
    {% endblock content %}