{% comment %} {% extends "base.html" %} {% block page_title %} Cerita Perjalanan {% endblock
%} {% block content %}

<form method="POST" action="">
  {% csrf_token %}
      <div class="form-control">
          <td>name: </td>
          {{form.name}}
      </div>
          
      <div class="form-control">
        <td>review: </td>
        {{form.review}}
      </div>

      <div class="form-control">
        <td>date: </td>
        {{form.date}}
      </div>

      <tr>
          <td></td>
          <td><input class="btn btn-primary" type="submit" value="Submit" value="post"></td>
      </tr> 
</form>


 {% endcomment %}

 <div class="container mt-5 pt-5">
  <header class="d-flex justify-content-between align-items-center">
    <h1>Apa kata mereka?</h1>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn h-50 btn-dark"
      data-bs-toggle="modal"
      data-bs-target="#modal-review"
    >
      Send Your Review!
    </button>
  </header>
  <div class="container text-center mt-4" id="cards-container">
    <div class="row"></div>
  </div>
</div>

<!-- Modal Review -->
<div
  class="modal fade"
  id="modal-review"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Send Review</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" />
              </div>
            </div>
            {% comment %} <div class="col">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" />
              </div>
            </div> {% endcomment %}
          </div>
          <div class="mb-3">
            <label for="review" class="form-label">Review</label>
            <textarea class="form-control" id="review" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  function getListReview() {
    return fetch("{% url 'cerita_perjalanan:get_review' %}").then((res) => res.json());
  }
  function postReview() {
    const name = document.getElementById("name").value;
    const email = document.getElementById("email").value;
    const review = document.getElementById("review").value;
    const data = {
      name,
      email,
      review,
    };
    return fetch("{% url 'cerita_perjalanan:post' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    }).then((res) => res.json());
  }
</script>

{% endblock content %}