{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block page_title %}Wisata Nusantara{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        transparent: "transparent",
                        current: "currentColor",
                        black: "#000000",
                        white: "#FFFFFF",
                        suede: "#ECC39C",
                        sea: "#A4D1C9",
                        camel: "#A57748",
                        leather: "#634433",
                        alloy: "#DC7056",
                    },
                    fontFamily: {
                        poppins: ["Poppins", "sans-serif"],
                        roboto: ["Roboto", "sans-serif"],
                        montserrat: ["Montserrat", "sans-serif"],
                    },
                },
                screens: {
                    mobile: "360px",
                    tablet: "768px",
                    desktop: "1280px",
                    wide: "1537px",
                },
            }
        }
      </script>

</head>
    <!-- NAVBAR COMPONENT -->
    <nav>
        <div class="flex justify-between items-center bg-leather text-white font-roboto cursor-pointer p-4">
            <div class="flex items-center">
                <img src="{% static 'favicon.png' %}" alt="logo" class="w-8 h-8">
                <div class="texl-2xl ml-2">Wisata Nusantara</div>
            </div>
            <div class="flex items-center">
                <a href="#" class="mr-4 hover:text-suede">Dashboard</a>
                <a href="#" class="mr-4 hover:text-suede">Destination</a>
                <a href="#" class="mr-4 hover:text-suede">Event</a>
                <a href="#" class="mr-4 hover:text-suede">Story</a>
                <a href="#" class="mr-4 hover:text-suede">Journey</a>
                <a href="#" class="mr-4 hover:text-suede">About</a>
                <a href="#" class="mr-4 hover:text-suede">Contact</a>
                <a href="#" class="mr-4 hover:text-suede">Login</a>
            </div>
        </div>
    </nav>
    <!-- CHILD COMPONENT -->
    <body>
        <div class="font-poppins">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>