{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block page_title %}Wisata Nusantara{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        transparent: "transparent",
                        current: "currentColor",
                        black: "#000000",
                        white: "#FFFFFF",
                        onyx: "#373737",
                        dimgray: "#6C6C6C",
                        gogreen: "#00CD71",
                        seagreen: "#219653",
                        magicmint: "#AFF6D6",
                        coralred: "#FF4444",
                        yelloworange: "#FBA63C",
                        cultured: "#F6F6F6",
                        chinesesilver: "#CCCCCC",
                        hookergreen: "#487E5F",
                        quartz: "#514A4A",
                    },
                    fontFamily: {
                        poppins: ["Poppins", "sans-serif"],
                    },
                },
                screens: {
                    mobile: "360px",
                    tablet: "768px",
                    desktop: "1280px",
                    wide: "1537px",
                },
            }
        }
      </script>

</head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>