{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block page_title %}Wisata Nusantara{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Logo -->
    <!-- https://fontawesome.com/ -->
    <script src="https://kit.fontawesome.com/951fd64367.js" crossorigin="anonymous"></script>
    <!-- CSS Styling -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'daftar_event/style.css' %}" />
    
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        transparent: "transparent",
                        current: "currentColor",
                        black: "#000000",
                        white: "#FFFFFF",
                        suede: "#ECC39C",
                        sea: "#A4D1C9",
                        camel: "#A57748",
                        leather: "#634433",
                        alloy: "#DC7056",
                        brightgray: "#EDEDED",
                        philippinesilver: "#B2B2B2",
                        lotion: "#F4F4F4",
                        bone: "#85C88A",
                        rose: "#BD4B4B"
                    },
                    fontFamily: {
                        poppins: ["Poppins", "sans-serif"],
                        roboto: ["Roboto", "sans-serif"],
                        montserrat: ["Montserrat", "sans-serif"],
                    },
                },
                screens: {
                    mobile: "360px",
                    tablet: "768px",
                    desktop: "1280px",
                    wide: "1537px",
                },
            }
        }
      </script>

      <style>
      /* hide scrollbar but allow scrolling */ 
      #daftar-destinasi {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow: scroll;
      }

      #daftar-destinasi::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }

      body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow: scroll;
      }

      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
      </style>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        $(document).ready(function(){
            // Show/Hide Dropdown Button
            $('#ddButton').click(function() {
                $('#navbarDropdown').toggle();
                $('#ddLogo').toggleClass('fa-rotate-90');
            })
        });
      </script>
    {% block meta %}{% endblock %}
</head>
    <!-- NAVBAR COMPONENT -->
    <div class="bg-gradient-to-r from-green-500 to-slate-500 top-0 z-50 w-full fixed">
    <header class="">
        <div class="flex justify-between items-center bg-black drop-shadow-xl text-white font-roboto cursor-pointer p-4 rounded-b-3xl tablet:rounded-none">
            <div class="flex items-center">
                <i class="fa-solid fa-mountain-city" style="color:white;font-size:16px;"></i>
                <p class="text-xl ml-4 mobile:hidden tablet:block">Wisata Nusantara</p>
            </div>
            <div class="tablet:hidden">
                <p class="text-sm">Wisata Nusantara</p>
            </div>
            <div class="mobile:hidden tablet:block">
                <div class="flex items-center">
                    <a href="/" class="mr-4 hover:text-suede">Dashboard</a> 
                    <a href="/destination/" class="mr-4 hover:text-suede">Destination</a>
                    <a href="/event/" class="mr-4 hover:text-suede">Event</a>
                    <a href="/journey/" class="mr-4 hover:text-suede">Journey</a>
                    <a href="/story/" class="mr-4 hover:text-suede">Story</a>
                    <a href="/faq/" class="mr-4 hover:text-suede">FAQ</a>
                    {% if user.is_authenticated %}
                        <a href="/auth/logout/" class="mr-4 text-rose hover:text-suede">Logout</a>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <a href="/auth/login/" class="mr-4 text-bone hover:text-suede">Login</a>
                    {% endif %}
                </div>
            </div>
            <button class="flex items-center gap-2 tablet:hidden" id="ddButton">
                <i class="fa fa-caret-down" style="font-size:24px;" id="ddLogo"></i>
            </button>
        </div>
        <div class="flex justify-end tablet:hidden">
            <div class="grid grid-cols-1 divide-y text-sm w-fit bg-brightgray/90 drop-shadow-xl rounded-2xl py-3 px-6 mobile:hidden top-16 right-3 z-50 fixed" id="navbarDropdown">
                <div class="py-1">
                    <i class="fa-solid fa-house"></i>
                    <a href="/" class="ml-2 hover:text-leather">Dashboard</a>
                </div>
                <div class="py-1">
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="/destination/" class="ml-2 hover:text-leather">Destination</a>
                </div>
                <div class="py-1">
                    <i class="fa-solid fa-calendar-days"></i>
                    <a href="/event/" class="ml-2 hover:text-leather">Event</a>
                </div>
                <div class="py-1">
                    <i class="fa-solid fa-book"></i>
                    <a href="/journey/" class="ml-2 hover:text-leather">Journey</a>
                </div>
                <div class="py-1">
                    <i class="fa-solid fa-comments"></i>
                    <a href="/story/" class="ml-2 hover:text-leather">Story</a>
                </div>
                <div class="py-1">
                    <i class="fa-solid fa-question"></i>
                    <a href="/faq/" class="ml-2 hover:text-leather">FAQ</a>
                </div>
                <div class="py-1">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <a href="/auth/login/" class="ml-2 hover:text-leather">Login</a>
                </div>
            </div>
        </div>
    </header>
    </div>

    <!-- CHILD COMPONENT -->
    <body class="top-0 relative">
        <div class="h-14"></div>
        <div class="font-poppins">
            {% block content %}{% endblock %}
        </div>
    </body>
    
    <!-- FOOTER COMPONENT -->
    <footer>
        <!-- MOBILE -->
        <div class="tablet:hidden bg-gradient-to-r from-green-500 to-slate-500">
            <div class="bg-black text-white font-poppins px-8 pt-10 pb-16">
                <div class="flex justify-center grid grid-cols-1 divide-gray-800 divide-y">

                <div>
                    
                    <div class="flex justify-center items-center gap-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/G20_Indonesia_2022_logo.svg/1229px-G20_Indonesia_2022_logo.svg.png" height="48" width=48"/>
                    <div class="text-[11px]">
                        <p>G20 - 2022</p>
                        <p>Recovery Movement</p>
                        <p>Jakarta, Indonesia</p>
                    </div>
                    </div>

                    <div>
                    <div class="text-center text-[14px] pb-2 pt-6">
                        Credit
                    </div>
                    <div class="rounded-xl text-white text-sm border-[1px] border-white text-[11px] p-3 grid grid-cols-1 divide-y mx-12">
                        <div>Eugenius Mario Situmorang</div>
                        <div>Abdillah Assajjad</div>
                        <div>Aulia Najwa Salsabila</div>
                        <div>Rizka Nisrina Nabila</div>
                        <div>Septio Nugroho</div>
                        <div>Wahyu Sahrijal</div>
                    </div>
                    </div>

                    <div class="flex justify-center items-center gap-4 pt-10">
                    <img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" height="48" width="48"/>
                    <div class="text-[11px]">
                        <p>PBP Midterm Project</p>
                        <p>Fakultas Ilmu Komputer</p>
                        <p>Universitas Indonesia</p>
                    </div>
                    </div>

                </div>
            
                </div>
            </div>
        </div>

        <!-- TABLET & DESKTOP -->
        <div class="mobile:hidden tablet:block bg-gradient-to-r from-green-500 to-slate-500">
            <div class="bg-black text-white font-poppins px-8 pt-10 pb-16">
                <div class="flex justify-center grid grid-cols-3 divide-gray-800 divide-x">

                <div class="flex justify-center items-center gap-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/G20_Indonesia_2022_logo.svg/1229px-G20_Indonesia_2022_logo.svg.png" height="64" width="64"/>
                    <div class="text-sm">
                    <p>G20 - 2022</p>
                    <p>Recovery Movement</p>
                    <p>Jakarta, Indonesia</p>
                    </div>
                </div>
                <div>
                    <div class="text-center text-[16px] py-2">
                    Credit
                    </div>
                    <div class="rounded-xl text-white text-sm border-[1px] border-white text-[15px] p-3 grid grid-cols-1 divide-y mx-24">
                    <div>Eugenius Mario Situmorang</div>
                    <div>Abdillah Assajjad</div>
                    <div>Aulia Najwa Salsabila</div>
                    <div>Rizka Nisrina Nabila</div>
                    <div>Septio Nugroho</div>
                    <div>Wahyu Sahrijal</div>
                    </div>
                </div>
                <div class="flex justify-center items-center gap-4">
                    <img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" height="64" width="64"/>
                    <div class="text-sm">
                    <p>PBP Midterm Project</p>
                    <p>Fakultas Ilmu Komputer</p>
                    <p>Universitas Indonesia</p>
                    </div>
                </div>
            
                </div>
            </div>
        </div>

    </footer>
</html>